*__pycache__*
*.DS_Store
*.pyc
.cache*
*.db
*.pkl
*.pem
*.csv
*.ipynb_checkpoints*
*tmp*
*.pdf
*.tex
*.Rproj.user
*.RData
*.Rhistory

!drug_exper/cleaned_drug_data.csv
!drug_exper/gpcr_interactions.csv
!drug_exper/GtP_to_AAC_mapping.csv
!drug_exper/GtP_to_UniProt_mapping.csv